# Node (React)
frontend/node_modules/
frontend/dist/
frontend/build/


# Node (backend)
backend/node_modules/
backend/storage/
backend/validaciones_api/
backend/.env

# General
*.log
.env
.DS_Store
.idea/
.vscode/
